/*********************************
    IMPORT MAIN STYLE SHEET
**********************************/
@import "./main.css"; 


/*********************************
            DEFAULT
**********************************/
body{
    background-color:var(--black);
    color:var(--white);
}


/*********************************
            HEADER
**********************************/
header{
    
}

header section{
    height:100%;
}

header section figure{
    max-height:80vh;
    overflow:hidden;
    pointer-events:none;
}

header section figure img{
    height:100%;
    width:100%;
    object-fit:cover;
    object-position:center;
}

header section article p{
    color:var(--lite);
}

header aside{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:flex-end;
    justify-content:flex-end;
}

header aside .lists{
    width:100%;
}

header aside .notice{
    width:100%;
    border:2px solid var(--white);
    border-radius:10px;
    background-color:rgba(255,255,255,0.4);
    color:var(--black);
}
